.inputTask {
    width: 250px;
}

.glyphicon {
    font-size: 10px;
    margin: 5px;
}

.editMessage {
    color: black;
}

.addButton {
    color: green;
    width: 100px;
    cursor: pointer;
}

#tasksTable {
    margin-top: 10px;
}

.td {
    border: 1px solid;
    border-width: 1px;
    width: 245px;
    cursor: pointer;
}

.red-text {
    color: red;
}


.counter {
    margin: 5px;
}

#div {
    width: 600px;  
}

.hidden {
    display: none;
}